.about__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    position: relative;
}

.about__item::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #2F82E4;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: -15px;
    z-index: 5;
}