.footer-desktop__contacts {
    width: 438px;
    height: 237px;
    background-color: #FFFFFF;
    border-radius: 40px;
    position: absolute;
    top: 76px;
    left: 124px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}