.get-consultation__button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-right: 30px;
    background: radial-gradient(50% 50% at 50% 50%, #FFC37E 0%, rgba(255, 195, 126, 0.85) 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50px;
    width: 424px;
    height: 105px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    transition: 0.3s;
}

.get-consultation__button:hover {
    cursor: pointer;
    opacity: 80%;
}

@media screen and (max-width: 1249px) {
    .get-consultation__button {
        margin-right: 15px;
        width: 295px;
        height: 76px;
    }
}

@media screen and (max-width: 983px) {
    .get-consultation__button {
        margin-right: 15px;
        width: 236px;
        height: 61px;
    }
}