.price {
    max-width: 1210px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1249px) {
    .price {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .price {
        display: flex;
        padding-top: 35px;
    }
}