.about-mobile__name {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .about-mobile__name {
        font-size: 24px;
        line-height: 30px;
    }
}