.cards__price {
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
    padding: 20px 0 20px 0;
    text-align: center;
    width: 400px;
    border-top: dashed 1px;
    border-bottom: dashed 1px;
}

@media screen and (max-width: 769px) {
    .cards__price {
        font-size: 15px;
        line-height: 18px;
        padding: 8px 0 8px 0;
        width: 255px;
    }
}

@media screen and (max-width: 401px) {
    .cards__price {
        font-size: 12px;
        line-height: 15px;
        max-width: 200px;
    }
}