.popup__button {
    margin: 0;
    border: none;
    color: white;
    width: 250px;
    height: 55px;
    background: #FFC37E;
    border-radius: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    transition: 0.3s;
}

.popup__button:hover {
    cursor: pointer;
    opacity: 80%;
}

@media screen and (max-width: 768px) {
    .popup__button {
        margin-bottom: 22px;
    }
}