.garanties {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1249px) {
    .garanties {
        max-width: 460px;
    }
}

@media screen and (max-width: 983px) {
    .garanties {
        justify-content: flex-start;
    }
}