.credit__text {
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 252px;
    padding-top: 44px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}