.benefits {
    max-width: 360px;
    margin: 0 auto;
    padding-top: 60px;
}

@media screen and (min-width: 769px) {
    .benefits {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .benefits {
        max-width: 310px;
    }
}