.about-mobile__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 425px) {
    .about-mobile__list {
        max-width: 300px;
        margin-left: 10px;
    }
}