.contact__phone {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 983px) {
    .contact__phone {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1249px) {
    .contact__phone {
        font-size: 14px;
        line-height: 17px;
    }
}