.consultation__button {
    padding: 0;
    background-color: rgba(255, 195, 126, 1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50px;
    width: 320px;
    height: 65px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}