.first-screen-desktop {
    display: flex;
    box-sizing: border-box;
    min-height: 585px;
    background-color: #FFFFFF;
    max-width: 1210px;
    margin: 0 auto;
    background-image: url(../../images/Main_image_sergey_and_alexandr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}

@media screen and (max-width: 1249px) {
    .first-screen-desktop {
        background-size: 461px 463px;
        min-height: 463px;
    }
}

@media screen and (max-width: 983px) {
    .first-screen-desktop {
        background-size: 338px 339px;
        min-height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .first-screen-desktop {
        display: none;
    }
}