.first-screen-desktop__subtitle {
    margin: 0;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

@media screen and (max-width: 1249px) {
    .first-screen-desktop__subtitle {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 983px) {
    .first-screen-desktop__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 25px;
    }
}