.contact__phone-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width: 983px) {
    .contact__phone-container {
        justify-content: center;
    }
}