.start-card {
    width: 275px;
    height: 322px;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 100%);
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    margin-right: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-card:last-child {
    margin-right: 0;
}