.footer-form__input-phone {
    box-sizing: border-box;
    width: 218px;
    height: 34px;
    background: #F2F2F2;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    margin: 0 auto;
    margin-bottom: 22px;
}