.cards__title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    z-index: 2;
    padding: 34px 0 39px 0;
}

@media screen and (max-width: 769px) {
    .cards__title {
        font-size: 14px;
        line-height: 17px;
        padding: 20px 0 12px 0;
    }
}

@media screen and (max-width: 401px) {
    .cards__title {
        font-size: 14px;
        line-height: 17px;
        padding: 20px 0 7px 0;
    }
}