.preloader__subtitle-1 {
    margin: 0;
    display: inline-block;
    text-align: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    animation-name: subtitle-1;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@media screen and (max-width: 768px) {
    .preloader__subtitle-1 {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
}

@keyframes subtitle-1 {
    0%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}