.get-consultation__description {
    margin: 0;
    max-width: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 1249px) {
    .get-consultation__description {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 983px) {
    .get-consultation__description {
        font-size: 10px;
        line-height: 12px;
        max-width: 155px;
    }
}