.benefits-form__button {
    box-sizing: border-box;
    margin: 0;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #FFC37E 0%, #E8A961 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
    width: 235px;
    height: 47px;
    z-index: 2;
}