.price__title {
    margin: 0;
    padding-bottom: 60px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    font-family: 'Playfair Display';
}

@media screen and (max-width: 1249px) {
    .price__title {
        padding-bottom: 20px;
        font-size: 40px;
        line-height: 49px;
    }
}

@media screen and (max-width: 769px) {
    .price__title {
        font-size: 32px;
        line-height: 39px;
    }
}