.adress__link {
    margin: 0;
    padding-bottom: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
    color: black;
    border-bottom: 2px dashed;
    border-color: #FFC37E;
}

@media screen and (max-width: 1249px) {
    .adress__link {
        font-size: 12px;
        line-height: 12px;
    }
}

@media screen and (max-width: 983px) {
    .adress__link {
        font-size: 10px;
        line-height: 10px;
        padding-bottom: 1px;
        border-bottom: 1px dashed;
        border-color: #FFC37E;
    }
}