.adress__link {
    margin: 0;
    padding-bottom: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
    color: black;
    border-bottom: 2px dashed;
    border-color: #FFC37E;
}