.discount__heding {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: white;
    background-color: #2F82E4;
    height: 46px;
    margin-bottom: 15px;
}