.credit__title-container {
    margin: 0 auto;
    position: absolute;
    left: 100px;
    bottom: 60%;
    background-color: #2F82E4;
    border-radius: 40px;
    width: 180px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 401px) {
    .credit__title-container {
        left: 68px;
    }
}