.body{
    font-family: 'Montserrat';
}

.benefits {
    max-width: 360px;
    margin: 0 auto;
    padding-top: 60px;
}

@media screen and (min-width: 769px) {
    .benefits {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .benefits {
        max-width: 310px;
    }
}

.discount {
    
}

.discount__heding {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: white;
    background-color: #2F82E4;
    height: 46px;
    margin-bottom: 15px;
}

.discount__container {
    display: flex;
    justify-content: space-between;
}

.discount__text {
    margin: 0;
    max-width: 207px;
    margin-top: 40px;
}

.credit {
    margin-top: 30px;
    position: relative;
}

.credit__heading {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    background-color: #2F82E4;
    text-align: center;
    margin-bottom: 40px;
}

.credit__container {
    margin: 0 auto;
    max-width: 320px;
    min-height: 157px;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.credit__title-container {
    margin: 0 auto;
    position: absolute;
    left: 120px;
    bottom: 55%;
    background-color: #2F82E4;
    border-radius: 40px;
    width: 128px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .credit__title-container {
        left: 95px;
    }
}

.credit__title {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: white;
    text-align: center;
}

.credit__text {
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 252px;
    padding-top: 44px;
}

.credit__10month {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #2F82E4;
    text-align: center;
    padding-top: 10px;
}

.benefits-form {
    margin-top: 40px;
    width: 310px;
    height: 405px;
    background-color: #2F82E4;
    border-radius: 40px;
}

.benefits-form__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefits-form__title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    max-width: 230px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 18px;
}

.benefits-form__input-name {
    box-sizing: border-box;
    width: 235px;
    height: 50px;
    background: #F2F2F2;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.benefits-form__input-phone {
    box-sizing: border-box;
    width: 235px;
    height: 50px;
    background: #F2F2F2;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.benefits-form__input-comment {
    box-sizing: border-box;
    width: 235px;
    min-height: 81px;
    background: #F2F2F2;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.benefits-form__button {
    box-sizing: border-box;
    margin: 0;
    color: white;
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #FFC37E 0%, #E8A961 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
    width: 235px;
    height: 47px;
    z-index: 2;
}