.body{
    font-family: 'Inter';
}

.header__right-side {
    width: 730px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.messengers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messengers__link {
    text-decoration: none;
}

.messengers__img {
    width: 25px;
}

.messengers__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}



.adress__text {
    margin: 0;
    max-width: 220px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.adress__link {
    margin: 0;
    padding-bottom: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: black;
    border-bottom: 2px dashed;
    border-color: #FFC37E;
}



.contact {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.contact__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.contact__phone {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: black;
}